# Base path for frontend
LOCAL_FRONT_BASEPATH = "http://localhost:3000"
STAGE_FRONT_BASEPATH = "STAGE_FRONT_BASEPATH"

# Port number
PORT=8000
NODE_ENV=development

# URL of the Mongo DB
MONGODB_URL="MONGODB_URL"

# JWT
# JWT secret key
JWT_SECRET="MONGODB_URL"

# Number of minutes after which an access token expires (10 Hours)
JWT_ACCESS_EXPIRATION_MINUTES=600 

# Number of days after which a refresh token expires (30 Days)
JWT_REFRESH_EXPIRATION_DAYS=30

# Number of minutes after which a reset password token expires (1000 minutes)
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=1000

# Number of minutes after which a verify email token expires (1000 minutes)
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=1000

# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME="SMTP_USERNAME"
SMTP_PASSWORD="SMTP_PASSWORD"
EMAIL_FROM="EMAIL_FROM"

# Recaptcha Details 
#(v3) here is v3 keys.
captchaSiteKey="6LfODNAlAAAAAO90m4W-pSxJQpajleAcGXOoNfTK" 
captchaSecretKey="6LfODNAlAAAAAMBp5vUMmuQeI8bdB33rcspd9UOa"

#AWS Credentials
ACCESS_KEY="ACCESS_KEY"
SECRET_KEY="SECRET_KEY"
BUCKET_NAME="BUCKET_NAME"
PROPOSAL_BUCKET="PROPOSAL_BUCKET"
REGION="REGION"

#Verification
# NORMAL OR STRICT
VERIFICATIONMODE=STRICT
# LINK OR OTP
EMAILVERIFICATION=LINK

#encryption email token
#vector must be 16 char
VECTOR=nodebiolerplates 

ENCRYPTIONMETHOD=aes-256-cbc
#secretKey must be 32 char
E_SECRETKEY=nodebiolerplatesnodebiolerplates
#sentry key url
SENTRY_DSN=https://b20e0dceaa204ab78c1e8103f6bd50a0@o4505203522207744.ingest.sentry.io/4505203524304896

# google
GOOGLE_CLIENT_ID ="GOOGLE_CLIENT_ID"
GOOGLE_CLIENT_SECRET ="GOOGLE_CLIENT_SECRET"
# facebook
FACEBOOK_APP_ID = "FACEBOOK_APP_ID"
FACEBOOK_APP_SECRET = "FACEBOOK_APP_SECRET"

CACHE_DAYS= 31_557_600_000